html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, abbr, acronym, em, img, ol, ul, li {
  border: 0;
  font-family: Helvetica, sans-serif;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html {
  overflow-y: auto;
  background: #eee;
  background-size: 20em;
}
body {
  color: #333;
  background: #ddd;
  padding: 40px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(5,5,5,0.5);
}
